<div class="container">
    <div class="table-responsive">
        <h2 class="text-center">User Details </h2>

<table class="table table-striped bg-white">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>username</th>
        <th>email</th>
        <th>phone</th>
        <th>Actions</th>
    </tr>
    <tr *ngFor="let user of users">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>{{user.phone}}</td>   
        <td><button class="btn btn-danger mx-2" (click)="deleteUser(user)"><i class="fa fa-trash"></i></button>
            
        <button class="btn btn-success" (click)="updateUser(user)">Update</button></td>  

    </tr>

</table>
</div>

<div>
    <a  [routerLink]="['/add-user']" class="btn btn-block btn-dark text-center ">Add New User</a>
</div>
</div>
