

<div class="container">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col col-sm-6">
            <div class="card shadow text-dark bg-light mb-3 mt-5 m-3 p-3">
                <p class="h4 card-header">Import Excel File</p>

                <div class="card-body bg-light">

                    <p class="card-text shadow">Select File to be uploaded:&nbsp;</p>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile">
                        <label class="custom-file-label" for="inputGroupFile">Choose file</label>
                    </div>
                    <span class="btn btn-block btn-dark m-3" id="inputGroupFileAddon" type="button">Upload
                    </span>
                </div>
            </div>
        </div>
    </div>