<div class="jumbotron jumbotron-fluid">
    <div class="container">

        <div class="list-group">
            <a  [routerLink]="['/get-user']" class="list-group-item list-group-item-success">Get User Details</a>
            <a  [routerLink]="['/compare-company']" class="list-group-item list-group-item-success">Compare Company</a>
            <a [routerLink]="['/compare-sector']" class="list-group-item list-group-item-success">Compare Sector</a>
            
          </div>

    </div>
</div>
