<!-- <div class="">
    <div class="container">

        <div class="list-group">
            
            <a  [routerLink]="['/get-user']" class="text-center list-group-item list-group-item-success">Get Users Details</a>
            <a  [routerLink]="['/add-user']" class="text-center list-group-item list-group-item-success">Add User</a>
            <a [routerLink]="['/update-exel']" class="text-center list-group-item list-group-item-success">Upload Excel</a>
            <a [routerLink]="['/companies']" class="text-center list-group-item list-group-item-success">Company Details</a>
            <a [routerLink]="['/add-company']" class="text-center list-group-item list-group-item-success">Add Company</a>
            <a [routerLink]="['/add-exchange']" class="text-center list-group-item list-group-item-success">Add Exchange</a>
            <a [routerLink]="['/get-exchange']" class="text-center list-group-item list-group-item-success">List of Exchange</a>
            <a [routerLink]="['/add-ipo']" class="text-center list-group-item list-group-item-success">Add IPO</a>
            <a [routerLink]="['/get-ipo']" class="text-center list-group-item list-group-item-success">IPO Details</a>
            <a [routerLink]="['/list-stock-price']" class="text-center list-group-item list-group-item-success">Stock Price Details</a>
            <a [routerLink]="['/add-stock-price']" class="text-center list-group-item list-group-item-success">Add Stock-Price </a>

        </div>  

    </div>
</div> -->
<div class="container">
<div class="row justify-content-center my-5">
    <div class="card-deck">
        <!-- <div class="mx-1"> -->
            <div class="col-md">
                <div class="card shadow text-center" style="width:20rem;">
                    <a [routerLink]="['/import-exel']" class="bg-dark p-4 card-hover text-muted"> <i
                            class="fas fa-download fa-10x"></i></a>
                    <div class=" bg-light">
                        <h5 class="card-title">Import Excel</h5>
                    </div>
                </div>
            
        </div>
        <div class="col-md">
            <div class="card shadow text-center" style="width:20rem;">
                <a [routerLink]="['/get-user']" class="bg-dark p-4 card-hover text-muted"> <i
                        class="fas fa-users fa-10x"></i></a>
                <div class=" bg-light">
                    <h5 class="card-title">Manage Users</h5>
                </div>
            </div>
        
    </div>
        <!-- </div> -->
        <!-- <div class="mx-1"> -->
            <div class="col-md">
                <div class="card shadow text-center" style="width:20rem;">
                    <a [routerLink]="['/get-company']" class="bg-dark p-4 card-hover text-muted"> <i
                            class="fas fa-building fa-10x"></i></a>
                    <div class=" bg-light">
                        <h5 class="card-title">Manage Companies</h5>
                            </div>
                </div>
            </div>
        <!-- </div> -->
        <!-- <div class="mx-1"> -->
            <div class="col-md">
                <div class="card shadow text-center" style="width:20rem;">
                    <a [routerLink]="['/get-ipo']" class="bg-dark p-4 card-hover text-muted"> <i
                            class="fas fa-hand-holding-usd fa-10x"></i></a>
                    <div class=" bg-light">
                        <h5 class="card-title">Manage IPO</h5>
                            </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center my-5">
            <div class="card-deck">
                <!-- <div class="mx-1"> -->
                    <div class="col-md">
                        <div class="card shadow text-center" style="width:20rem;">
                            <a [routerLink]="['/get-exchange']" class="bg-dark p-4 card-hover text-muted"> <i
                                    class="fas fa-suitcase fa-10x"></i></a>
                            <div class=" bg-light">
                                <h5 class="card-title">Manage Exchanges</h5>
                            </div>
                        </div>
                    
                </div>
                <div class="col-md">
                    <div class="card shadow text-center" style="width:20rem;">
                        <a [routerLink]="['/get-stock-price']"class="bg-dark p-4 card-hover text-muted"> <i
                                class="fas fa-dollar-sign fa-10x"></i></a>
                        <div class=" bg-light">
                            <h5 class="card-title">Stock Price Details</h5>
                        </div>
                    </div>
                
            </div>
               
                </div>




    </div>
